html(lang='en' ng-app='liineApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Liine - Work with your Customers. 
    link(href='/build/css/bootstrap.min.css', rel='stylesheet')
    link(href='/build/css/landing-page.css', rel='stylesheet')
    link(href='font-awesome-4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
  body(ng-controller="HeaderController")
    .content
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Liine
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#/about') About
                li
                  a(href='#/services') Services
                li
                  a(href='#/contact') Contact
        div(ng-view)
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#/home') Home
              li.footer-menu-divider ⋅
              li
                a(href='#/about') About
              li.footer-menu-divider ⋅
              li
                a(href='#/services') Services
              li.footer-menu-divider ⋅
              li
                a(href='#/contact') Contact
            p.copyright.text-muted.small Copyright © Liine 2014. All Rights Reserved

    //- jQuery Version 1.11.0 
    script(src="js/jquery-1.11.0.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js")
    

    //- All user JS files
    script(src="build/js/all.min.js")  

