
<div ng-controller="LiveController">
  <div class="box text-center">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div ng-repeat="(senderIndex, callPath) in pendingConnections">
          <button type="submit" ng-click="pair(senderIndex)" class="btn btn-default">{{callPath}}</button>
        </div>
      </div>isConnected: {{isConnected}}<br/>
      <div ng-if="isConnected" class="col-xs-4 col-xs-offset-4">
        <button type="submit" ng-click="sendRequest({request_format: 'edit_text', request_type: 'address', message: 'Enter Address Here:'})" class="btn btn-primary">Request Address</button><br/>
        <button type="submit" ng-click="sendRequest({request_format: 'edit_text', request_type: 'name', message: 'Enter Name Here:'})" class="btn btn-primary">Request Name</button><br/>
        <button type="submit" ng-click="sendRequest({request_format: 'edit_text', request_type: 'phone_number', message: 'Enter Phone Number Here:'})" class="btn btn-primary">Request Phone Number</button><br/>
        <button type="submit" ng-click="sendRequest({request_format: 'edit_text', request_type: 'birthdate', message: 'Enter Birthdate Here:'})" class="btn btn-primary">Request Birthdate</button>
        <div ng-repeat="message in messages">
          <p>{{message.message}}</p>
        </div>
        <input ng-model="message" type="text" placeholder="Enter message here..." class="form-control"/><br/>
        <button type="submit" ng-click="sendMessage(message)" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</div>